{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Header Start -->
<div class="container contact-header">
      <h2>Contact</h2>
    <!-- Header End -->

    <!-- Main  Body -->

    <div class="row">
        <p class="email-contact">Thank you for checking out my project website! Check out my Github, LinkedIn or feel free to send me an email with the Google icon!
        </p>
        <div class="mx-auto icon-row"  style="width: 200px">
            <!-- Github Link -->
            <a href="https://github.com/aaronvito1">
                <i class="bi bi-github"></i>
            </a>
            <!-- LinkedIn Link -->
            <a href="https://www.linkedin.com/in/aaron-vito-b45152140/">
                <i class="bi bi-linkedin"></i>
            </a>
            <!-- Gmail Link -->
            <a href="https://mail.google.com/mail/?view=cm&source=mailto&to=[aaronvito97@gmail.com]">
                <i class="bi bi-google"></i>
            </a>
            <!-- Twitch Link (coming soon) -->
    <!--         <a href="https://www.linkedin.com/in/aaron-vito-b45152140/">
                <div class="twitch button-big">
                     <i class="bi bi-twitch"></i>
                </div>
            </a> -->
        </div>
    </div>
</div>
{% endblock content %}