/* Universal NAVBAR CSS */
.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.navbar .dropdown-item {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

/* Homepage */
.homepage {
  text-align: center;
}

.homepage h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15vw;
  padding-top: 150px;
}

.homepage p {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
}

.homepage .home-button {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

}

/* About Me Page */
.about-me-header h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}


.aboutmepic {
  max-height: 600px;
}

.container .AboutInfo {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
}

/* Portfolio Page */
.portfolio-header h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  padding-top: 100px;
}

.portfolio-header h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 40px;
}

.card {
  width: 40rem;
  display: flex;
}

.card-body {
  text-align: center;
}

.card-body h5  {
  font-family: 'Montserrat', sans-serif;
}

.card-body p {
  font-family: 'Roboto', sans-serif;
}

/* BlogPage */
.blog-header h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 5px;
}

.blog-header h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  text-align: center;
  padding-bottom: 50px;
}

.blog-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
}

.blog-container p {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  text-align: center;
}

.blog-container .row {
  padding-top: 30px;
}

.blog-contnainer img {
  max-height: 600px;
}

/* Contact Section */
.contact-header h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 5px;
}

.container .row .email-contact {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

.container .icon-row {
  font-size: 50px;
  display: block;
  margin-right: 15px;
}

/* Extra Section */
.extra-header h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 5px;
}

.extra-header h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 40px;
}

.extra-video video {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.extra-video h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
}

.extra-deck {
  display: block;
}

.card-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.video-modal {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.feature-extra {
  display: block;
  margin: 0 auto;
  width: 50%;
}